/* Variables */

:root {
  --basic-blue: #81B3D2;
  --grayish-blue: #669EC0;
  --dark-blue: #5496BD;
  --basic-saddleBrown: #766357;
  --basic-black: #000000;
  --basic-black-light: #00000030;
  --basic-white: #ffffff;
  --basic-smoky-white: #eeeeee;
  --basic-darkKhaki: #666666;
  --basic-red: #FF0000;
  --basic-snow: #F2F2F2;
  /* --special: #663d15; Зачем он нужен и как ним пользоваться? */
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Global */

.page-body {
    min-width: 1200px;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: var(--basic-white);
    text-transform: uppercase;
    background-position: top center;
    background-repeat: no-repeat;
  }

  a {
    text-decoration: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

  /*  Navigation */
  .container {
    background-color: blueviolet; /* Сделал временно чтобы выделить блок */
  }

  .main-navigation {
    background-color: var(--basic-white);
    list-style: none;
  }

  .site-navigation {
    color: var(--basic-black);
  }

  .site-navigation a:hover {
    color: var(--basic-blue);
  }
  
  .site-navigation a:focus {
    color: var(--basic-black-light);
  }

  /* Main-features */

  .welcome-title {
    text-align: center;
    font-size: 21px;
    color: var(--basic-black);
}

  .features-list-five {
    text-align: center;
    font-weight: normal;
}

  .real-title {
    font-size: 21px;
    line-height: 21px;
  }

  .features-list-desc {
    font-weight: normal;
    color: var(--basic-black);
    line-height: 21px;
  }

  .features-list {
    list-style: none;
  }

  .real-title-desc {
    font-weight: normal;
    line-height: 21px;
  }

  .features-sublist {
    /* list-style-type: none; */
  }

  .sublist-title {
    font-size: 21px;
    color: var(--basic-black);
    line-height: 21px;
  }

  .search-hotel {
    text-align: center;
  }

  .interested-slogan {
    font-size: 30px;
    color: var(--basic-black);
  }

  .search-hotel .interested-slogan:hover {
    color: var(--basic-blue);
  }

  .search-hotel .interested-slogan:focus {
    color: var(--basic-black-light);
  }

  .interested-desc {
    color: var(--basic-black);
    font-weight: normal;
    line-height: 24px;
  }

  /* Footer */

  footer {
    background-color: var(--basic-saddleBrown);
  }

  .contacts-container a {
    font-size: 21px;
    color: var(--basic-black);
  }

  .contacts-container a:hover{
    color: var(--basic-blue);
  }

  .contacts-container a:focus{
    color: var(--basic-black-light);
  }

  .social-list {
    list-style: none;
    display: inline-block;
  }

  .social-list img {
    background-color: var(--basic-blue);
  }

  .item-twitter {
    padding-left: 15px;
    padding-top: 17px;
    padding-right: 14px;
    padding-bottom: 16px;
  }

  .social-list img:hover {
    color: var(--grayish-blue);
  }

  .social-list img:focus {
    color: var(--dark-blue);
  }

  .item-fb {
    padding: 17px 13px;
  }

  .item-youtube {
    padding: 13px 16px;
  }

  .logo-author p {
    font-weight: normal;
    text-transform: uppercase;
    color: var(--basic-black);
  }

  .logo-author:hover {
    background-image: url(../img/icons/logo-htmlacademy-hover.svg);
    background-repeat: no-repeat;
    background-position: 0 40px;
  }