  /* Fonts */

@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/pt-sans-narrow-v12-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local('PT Sans Narrow'), local('PTSans-Narrow'),
       url('../fonts/pt-sans-narrow-v12-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/pt-sans-narrow-v12-latin_cyrillic-regular.woff2') format('woff2'), /* Современные браузеры */
       url('../fonts/pt-sans-narrow-v12-latin_cyrillic-regular.woff') format('woff'), /* Старые браузеры */
       url('../fonts/pt-sans-narrow-v12-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/pt-sans-narrow-v12-latin_cyrillic-regular.svg#PTSansNarrow') format('svg'); /* Legacy iOS */
  font-display: swap; /* Прочитать за это св-во подробнее */
}

@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/pt-sans-narrow-v12-latin_cyrillic-700.eot'); /* IE9 Compat Modes */
  src: local('PT Sans Narrow Bold'), local('PTSans-NarrowBold'),
       url('../fonts/pt-sans-narrow-v12-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/pt-sans-narrow-v12-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/pt-sans-narrow-v12-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/pt-sans-narrow-v12-latin_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/pt-sans-narrow-v12-latin_cyrillic-700.svg#PTSansNarrow') format('svg'); /* Legacy iOS */
  font-display: swap;
}
 
 
 
  /* Variables */

:root {
  --basic-blue: #81B3D2;
  --grayish-blue: #669EC0;
  --dark-blue: #5496BD;
  --basic-saddleBrown: #766357;
  --basic-greyBrown: #604E43;
  --basic-black: #000000;
  --basic-black-light: #00000030;
  --basic-white: #ffffff;
  --basic-smoky-white: #eeeeee;
  --basic-darkKhaki: #666666;
  --basic-red: #FF0000;
  --basic-snow: #F2F2F2;
  --basic-silver-grey: #888888;
  --basic-light-grey: #BDBBBC;
  --basic-dull-grey: #666666;
  --basic-white-100: #E5E5E5;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

  /* Global */

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start; /* Выравнивание контента к верху */
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-white);
  text-transform: uppercase;
}

a {
  text-decoration: none;
  transition: 0.8s;
}
  
img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 auto;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
}

  /*  Navigation */

.main-header-logo {
  position: absolute;
  width: 138px;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}

/* .site-navigation {
  display: grid;
  grid-template-columns: max-content max-content max-content max-content;
  color: var(--basic-black);
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  align-items: center;
  min-height: 56px;
} */

/* .site-navigation li:nth-child(1) {
  margin-left: 72px;
}

.site-navigation li:nth-child(2) {
  margin-left: 134px;
}

.site-navigation li:nth-child(3) {
  grid-column: -2 / -3;
  margin-left: 418px;
}

.site-navigation li:nth-child(4) {
  grid-column: -1 / -2;
  margin-left: 147px;
} */

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  max-width: 1054px;
  margin: auto 72px;
  padding: 0;
  min-height: 56px;
  list-style: none;
  align-items: center;
}

.site-navigation li {
  width: 226px;
}

.site-navigation li:nth-child(4n+1) {
  text-align: start;
}

.site-navigation li:nth-child(4n-2) {
  text-align: start;
}

.site-navigation li:nth-child(4n+3) {
  margin-left: 150px;
  text-align: end;
}

.site-navigation li:nth-child(4n+4) {
  text-align: end;
}

.site-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover {
  color: var(--basic-blue);
}

.site-navigation a:active {
  color: var(--basic-black-light);
} 

.active a {
  pointer-events: none;
  color: var(--basic-saddleBrown);
}

  /* Main-features */

.bg-img {
  background-image: url("../img/shape.png"), url("../img/bg.jpg");
  background-position: bottom;
  background-origin: content-box;
  background-repeat: no-repeat;
  background-size: contain;
  width: 1200px;
  height: 509px;
  margin: 0 auto;
}

/* .welcome-subject {
  display: grid;
  margin: auto;
  width: 519px;
} */

.welcome-title {
  color: var(--basic-black);
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  width: 470px;
  margin: 43px auto 43px;
}

.features-list-five {
  color: var(--basic-black);
  text-align: center;
  font-weight: normal;
  margin: 0;
  margin-bottom: 51px;
}

.features-list-town,
.features-list-bridge {
  display: flex;
  /* flex-wrap: wrap; при добавлении картинка сдвигается вниз, но только в features-list-town, в features-list-bridge
  все хорошо! */
}

.features-item-town,
.features-item-bridge {
  background-color: var(--basic-blue);
  font-weight: normal;
  text-align: center;
  width: 400px;
}

.features-item-town {
  padding: 52px 47px 51px 54px;
}

.real-title {
  max-width: 155px;
  font-size: 21px;
  line-height: 21px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.features-item-town p,
.features-item-bridge p {
  line-height: 21px;
  margin: 0;
  margin-top: 23px;
}

/* .features-sublist-list,
.features-sublist-list-2 {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
} */

.features-sublist-list {
  display: flex;
  margin: 0;
  padding: 0;
  padding-bottom: 82px;
  list-style: none;
  text-align: center;
}

.features-sublist-list h3{
  margin: 0;
}

.features-sublist-list p {
  font-weight: normal;
  color: var(--basic-black);
  line-height: 21px;
}

.sublist-title {
  font-size: 21px;
  color: var(--basic-black);
  line-height: 21px;
}

.features-item-bridge {
  padding: 50px 50px 49px 51px;
}

.features-sublist-list-2 {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.features-sublist-list-2 h3{
  margin: 0;
}

.features-sublist-list-2 li {
  font-weight: normal;
  width: 400px;
  padding-top: 47px;
  padding-bottom: 54px;
}

.square-sublist h3 {
  max-width: 120px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.square-sublist p {
  width: 260px;
  margin: 0 auto;
  margin-top: 23px;
}

.features-sublist {
  background-color: var(--basic-white); 
}

.area-sublist {
  background-color: var(--basic-smoky-white);
  color: var(--basic-black); 
}

.area-sublist p {
  font-weight: normal;
}

.search-hotel-wrapper {
  width: 435px;
  margin: 0 auto;
  margin-top: 61px;
  color: var(--basic-black);
  line-height: 24px;
  text-align: center;
}

.search-hotel-wrapper span {
  font-size: 30px;
}

.search-hotel-wrapper p {
  font-weight: normal;
  margin: 0;
}

/*  Hotels */

.catalog-hotels {
  margin-top: 217px;
}

/* .catalog-sorting-wrapper {
  display: grid;
  grid-template-columns: max-content max-content 1fr max-content;
  padding-left: 73px;
  padding-right: 73px;
  padding-bottom: 30px;
} */

.catalog-sorting-wrapper {
  display: flex;
  padding-left: 73px;
  padding-right: 73px;
  padding-bottom: 30px;
}

.catalog-hotels-desc {
  color: var(--basic-black);
  font-size: 21px;
}

.catalog-sorting {
  display: flex;
  align-self: center;
  color: var(--basic-black);
  font-size: 12px;
  font-weight: normal;
  line-height: 18px;
  padding-left: 46px;
  padding-right: 40px;
}

.catalog-sorting-item {
  /* display: grid;
  grid-template-columns: max-content max-content max-content;
  grid-gap: 33px; */
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.catalog-sorting-item li:nth-child(2) {
  padding-left: 32px;
  padding-right: 33px;
}

.arrow {
  margin: 0;
  margin-left: auto;
}

.arrow a:nth-child(1) {
  padding-right: 12px
}

.catalog-sorting-item a {
  color: rgba(0, 0, 0, 0.3);
  font-size: 12px;
  font-weight: normal;
  line-height: 18px;
  list-style: none;
  border-bottom: 2px dotted var(--basic-blue);
}

.catalog-sorting-list a:hover {
  color: var(--basic-blue);
}

.catalog-sorting-list a:active {
  color: var(--basic-black);
  border-bottom: none;
}

.catalog-sorting-list.current a {
  color: var(--basic-blue);
  border: none;
}  

.hotels-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.hotel-item {
  /* display: grid;
  grid-template-columns: max-content max-content 1fr;
  padding: 30px 73px; */
  display: flex;
  padding: 30px 73px;
  border-top: 1px solid var(--basic-white-100);
}

.hotels-list li:nth-last-child(1) {
  border-bottom: 1px solid var(--basic-white-100);
} 

.hotel-wrapper {
  margin-left: 30px;
}

.hotel-title {
  color: var(--basic-black);
  margin: 0;
  line-height: 14px;
}

.hotel-title-link:hover .hotel-title {
  color: var(--basic-blue);
}

.hotel-title-link:active .hotel-title {
  opacity: 0.3;;
}

.hotel-type-wrapper {
  display: grid;
  grid-template-columns: 110px max-content;
  grid-gap: 6px;
  margin-top: 13px;
}

.hotel-type {
  font-weight: normal;
  color: var(--basic-black);
  line-height: 21px;
}

.button-wrapper {
  display: flex;
  grid-template-columns: min-content min-content;
  grid-gap: 6px;
  margin-top: 16px;
}

.hotel-detailed {
  width: 110px;
  height: 27px;
  text-align: center;
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.hotel-reserve {
  width: 147px;
  height: 27px;
  text-align: center;
  color: var(--basic-white);
  background-color: var(--basic-saddleBrown);
}

.hotel-detailed:hover {
  background-color: var(--grayish-blue);
}

.hotel-detailed:active {
  color: rgba(255, 255, 255, 0.3);
}

.hotel-reserve:hover {
  background-color: var(--basic-greyBrown);
}

.hotel-reserve:active {
  color: rgba(255, 255, 255, 0.3);
}

.rating-wrapper {
  display: grid;
  margin-left: auto;
}

.rating-value {
  width: 110px;
  height: 27px;
  background-color: var(--basic-snow);
  color: var(--basic-dull-grey);
  font-weight: normal;
  text-align: center;
  margin-top: 47px;
}


.rating-star {
  background-image: url("../img/icons/star.png");
  width: 18px;
  height: 17px;
  background-size: cover;
  margin-left: auto;
}

.rating-star.four {
  width: 92px;
}

.rating-star.three {
  width: 67px;
}

.rating-star.two {
  width: 41px;
}

  /* Footer */

.footer-page {
  display: flex;
  flex-direction: column;
}

.footer-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 120px;
}

.footer-page .footer-wrapper {
  display: flex;
  justify-content: center;
  background: rgba(255, 255, 255, 0.9);
  min-height: 120px;
  /* position: absolute; */
  margin-top: -120px;
}

.contacts-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.contacts-container a {
  font-size: 21px;
  color: var(--basic-black);
}

.contacts-container a:hover {
  color: var(--basic-blue);
}

.contacts-container a:active {
  color: var(--basic-black-light);
}

.social-list {
  text-align: center;
}

.social-list ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.social-list a {
  background-color: var(--basic-blue);
  width: 46px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center; /* Иконки по заданным размерам */
  margin-right: 6px;
}

.social-list a:hover {
  background-color: var(--grayish-blue);
}

.social-list a:active {
  background-color: var(--dark-blue);
}

.social-list a:active img {
  opacity: 0.3;
}

.logo-author {
display: flex;
}

.logo-author p {
  color: var(--basic-black);
  font-style: normal;
  font-weight: normal;
}

.logo-author a:hover path {
  fill: var(--basic-blue);
  transition: 0.8s;
}

.logo-author a:active path {
  fill: var(--basic-light-grey);
  transition: 0.8s;
}
