/* Variables */

:root {
  --basic-blue: #81B3D2;
  --grayish-blue: #669EC0;
  --dark-blue: #5496BD;
  --basic-saddleBrown: #766357;
  --basic-black: #000000;
  --basic-black-light: #00000030;
  --basic-white: #ffffff;
  --basic-smoky-white: #eeeeee;
  --basic-darkKhaki: #666666;
  --basic-red: #FF0000;
  --basic-snow: #F2F2F2;
  --basic-silver-grey: #888888;
  --basic-light-grey: #BDBBBC;
  /* --special: #663d15; Зачем он нужен и как ним пользоваться? */
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Global */

.page {
  color: var(--basic-silver-grey);
}

.page-body {
    min-width: 1200px;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: var(--basic-white);
    text-transform: uppercase;
    background-position: top center;
    background-repeat: no-repeat;
    box-sizing: border-box;
  }

  a {
    text-decoration: none;
    transition: 0.8s;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

  /*  Navigation */

  .container {

  }

  .main-navigation {
    background-color: var(--basic-white);
  }

  .site-navigation {
    color: var(--basic-black);
    list-style: none;
  }

  .site-navigation a {
    color: var(--basic-black);
  }

  .site-navigation a:hover {
    color: var(--basic-blue);
  }
  
  .site-navigation a:focus {
    color: var(--basic-black-light);
  } 
  
 .active a {
    pointer-events: none;
    color: var(--basic-saddleBrown);
  }

  /* Main-features */

  .bg {
    background-image: url(../img/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    }

  .welcome-title {
    text-align: center;
    font-size: 21px;
    color: var(--basic-black);
}

  .features-list-five {
    text-align: center;
    font-weight: normal;
}

  .real-title {
    font-size: 21px;
    line-height: 21px;
  }

  .features-list-desc {
    font-weight: normal;
    color: var(--basic-black);
    line-height: 21px;
  }

  .features ul {
    list-style: none;
  }

  .real-title-desc {
    font-weight: normal;
    line-height: 21px;
  }

  .sublist-title {
    font-size: 21px;
    color: var(--basic-black);
    line-height: 21px;
  }

  .search-hotel {
    text-align: center;
  }

  .interested-slogan {
    font-size: 30px;
    color: var(--basic-black);
  }

  .search-hotel .interested-slogan:hover {
    color: var(--basic-blue);
  }

  .search-hotel .interested-slogan:focus {
    color: var(--basic-black-light);
  }

  .interested-desc {
    color: var(--basic-black);
    font-weight: normal;
    line-height: 24px;
  }

  .features-item-town,
  .features-item-bridge {
    background-color: var(--basic-blue);
  }

  .area-sublist,
  .road-sublist,
  .tourists-sublist {
    background-color: var(--basic-smoky-white);
  }

  /*  Hotels */

  .catalog-hotels-desc {
    color: var(--basic-black);
    font-weight: 700px;
  }

  .catalog-sorting {
    list-style: none;
    color: var(--basic-black);
  }

  .catalog-sorting-item {
    list-style: none;
  }

  .catalog-sorting-item a {
    color: rgba(0, 0, 0, 0.3);
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    list-style: none;
    border-bottom: 2px dotted #81b3d2;
    /* color: #000000;
    opacity: 0.6; */
  }

  .catalog-sorting-list a:hover {
    color: var(--basic-blue);
  }

  .catalog-sorting-list a:focus {
    color: var(--basic-black);
  }

  .catalog-sorting-list.current a {
    color: var(--basic-blue);
    border: none;
  }  

  /* Footer */

  .footer-wrapper {
    display: flex;
    justify-content: center;
  }

  .contacts-container a {
    font-size: 21px;
    color: var(--basic-black);
  }

  .contacts-container a:hover{
    color: var(--basic-blue);
  }

  .contacts-container a:focus{
    color: var(--basic-black-light);
  }

  .social-list {
    text-align: center;
  }

  .social-list ul {
    list-style: none;
    display: flex;
	  justify-content: center;
  	align-items: center;
    width: 400px;
    box-sizing: border-box;
    margin: 0;
	  padding: 0;
  }

  .social-list a {
    background-color: var(--basic-blue);
    width: 46px;
    height: 48px;
    display: flex;
    justify-content: center;
    margin-right: 6px;
  }

  .social-list a:hover {
    background-color: var(--grayish-blue);
  }

  .social-list a:focus {
    background-color: var(--dark-blue);
  }

  .social-list a:active img {
    opacity: 0.3;
  }
  
  .logo-author p {
    color: var(--basic-black);
    font-style: normal;
    font-weight: 400;
  }

  /* .button {
    font: inherit;
    text-align: center;
    color: var(--basic-white);
    vertical-align: middle;
    text-transform: uppercase;
    background-color: var(--basic-black);
    border: none;
  }
   */
